*{
    cursor: url(/images/iconmonstr-flashlight-3.svg), auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body
{
    background-image: url(/images/pexels-martin-banov-4753682.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor
{
    z-index: 10;
    position: fixed;
    transition: 0.1s;
    pointer-events: none;
}

.light-ray
{
    box-shadow: 0 0 55px 52px #fff;
    opacity: 70%;
    background-color: cornsilk;
    height: 1px;
    width: 1px;
    border-radius: 50%;
}

#title_block
{
    position: absolute;
    color: aquamarine;
}

.box
{
    margin: 10px 0;
}

p{
    align-items: center;
}